:root {
  --light-beige: #f5f3e9;
  --darker-beige: #eee9dd;
  /* --dark-grey: #3a3a32; */
  --dark-grey: #111;
  --dark-green: #4b6043;
  --mustard-yellow: #c46a33;

  --font-headings: "Cormorant Garamond", serif;
  --font-paragraphs: "Lato", sans-serif;
}

/* RESET */

* {
  box-sizing: border-box;

  /* motverkar luddighet på texten i olika webbläsare */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

/* TYPOGRAFI */

h1 {
  font-family: var(--font-headings);
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h2 {
  font-family: var(--font-headings);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h3 {
  font-family: var(--font-headings);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

p {
  font-family: var(--font-paragraphs);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

a {
  font-family: var(--font-headings);
  font-size: 1rem;
  line-height: 1rem;
  text-decoration: none;
  font-weight: 500;
}

h1,
h2,
h3,
p,
a {
  color: var(--dark-grey);
}

/* KOMPONENTER */
.button {
  height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--dark-green);
  color: var(--light-beige);
  font-family: var(--font-headings);
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  &.button--inverted {
    background-color: var(--light-beige);
    color: var(--dark-grey);
  }
}

html,
body {
  background-image: url("images/bakgrundsbild.jpg");

  /* background: linear-gradient(rgba(47, 58, 46, 0.7), rgba(47, 58, 46, 0.7)),
    url(images/bakgrundsbild.jpg); */

  background-size: cover;

  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.site-header {
  background-color: var(--light-beige);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5rem;
  .logotype {
    font-family: "Uncial Antiqua", system-ui;
    font-size: 3rem;
    color: var(--mustard-yellow);
  }

  .menu__menulist {
    display: flex;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.25rem;
    color: var(--dark-grey);

    .menu__list-item--current {
      color: var(--mustard-yellow);
      font-weight: 900;
    }
  }
}

.container {
  margin-top: 100px;
  /* min-height: 510rem;
  min-width: 70rem; */

  /* background-color: var(--light-beige); */
}

.ingress {
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--mustard-yellow);

  h1 {
    color: var(--light-beige);
  }
}

.gallery {
  background-color: var(--light-beige);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 4rem;
  padding: 4rem;

  .gallery__text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .gallery__text-area__text {
      font-family: var(--font-headings);
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }
}

.articles {
  /* background-color: #fff;
  opacity: 30%; */

  display: flex;
  flex-wrap: wrap;
  padding: 5rem 3rem;
  gap: 3rem;

  .card {
    background-color: var(--light-beige);
    /* opacity: 0%; */
    display: flex;
    flex-direction: column;
    flex: 1 1 18rem;

    .card__content {
      padding: 1rem;
    }
  }
}

.projects {
  .projects__heading,
  .projects__description {
    color: var(--light-beige);
    margin-left: 3rem;
  }
  .project__cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .project__card {
    background-color: var(--light-beige);
    /* display: flex;
    flex-direction: column;
    flex: 4 1 1;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2fr 1fr;

    max-width: 20rem;
    padding: 1rem;
    border-radius: 10px;

    .project__card__image {
      max-width: 20rem;
      border-radius: 100%;

      img {
        height: 100%;
      }
    }
  }
}

footer {
  color: var(--light-beige);
  background-color: var(--mustard-yellow);
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  justify-content: start;
  /* gap: 2rem; */
  line-height: 1.5rem;
}

.footer__contact__email {
  color: var(--light-beige);
  font-size: 1.5rem;
  margin-right: 1.25rem;
}

.fa-instagram {
  color: var(--light-beige);
  /* vertical-align: baseline; */
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
